:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(75, 75, 75);
}

.difButtons {
  display: inline-block;
 /*  display: flex;
  flex-direction: column;
  margin: auto; */
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
  font-family: 'Pixelify Sans', Courier, monospace;
}

.info_box {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.gameO {
  font-family: 'Pixelify Sans', Courier, monospace;
  
}

.difButtons {
  font-size: 40px;
  font-family: 'Pixelify Sans', Courier, monospace;
}

.game_canvas {
  background-color: rgb(75, 75, 75);
  padding-top: 30px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 800px;
  background-color: brown;
}

button {
  background-color: rgb(7, 7, 186);
  width: 70px
}

.footer {
  text-align: center;
}

.footer a {
  color: whitesmoke;
  margin: 10px;
}
